<article class="post card w-75">
  <div class="card-header title">
   <p>{{title}}<p>
  </div>
  <div class="card-text body">
   <p>{{post_body}}<p>
  </div>
  <div class="meta">
   
    <div class="card-footer"> By {{user.username}} <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a></div>
  </div>
</article>