<article class="post card">
  <div class="title card-header">
    <p>{{post.title}} <div class="timestamp">Posted on: {{post.created_at}}</div></p>
  </div>
  <div class="body">
    <p>{{post.post_body}}</p>
  </div>
  <div class="meta card-footer">
    By {{post.user.username}}
    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
  </div>
</article>
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}
{{>comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}